authlib==1.6.5
b2sdk==2.10.1
celery==5.5.3
fastapi==0.121.1
google-genai
motor==3.7.1
msal==1.28.0
passlib[argon2]==1.7.4
protobuf==6.33.0
pydantic==2.12.4
PyMuPDF
pymongo==4.15.3
pyotp==2.9.0
python-dotenv==1.2.1
python-jose[cryptography]==3.5.0
qdrant-client==1.15.1
qrcode[pil]==7.4.2
reportlab==4.2.5
sentence-transformers==5.1.2
starlette>=0.40.0,<0.50.0
redis